<!-- FOOTER SECTION  -->


<section id="footer">
    <div id="footer-container">
        <div id="footerlogo" class="footer-box">
            <h1>Harsh's Restro</h1>
            <h3>
                31/13 Sardar Patel Marg,
                <br>
                Civil lines , Prayagraj.
                <br>
                Contact No. : +91-9793-969692
            </h3>
        </div>
        <div id="footermenu" class="footer-box">
            <ul id="footermenu-content">
                <li class="f-item"><a href="#header">Home</a></li>
                <li class="f-item"><a href="/menu">Menu</a></li>
                <li class="f-item"><a href="/about">About Us</a></li>
                <li class="f-item"><a href="/contact">Contact Us</a></li>
        </div>
        <div id="footericons" class="footer-box">
            <h3>Reach us at</h3>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-whatsapp-square"></i>
        </div>
        <div id="footermap" class="footer-box">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28819.875074929405!2d81.81909929871125!3d25.455496356582234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399acadfa0e616dd%3A0x136ee6dd4d0a1b83!2sCivil%20Lines%2C%20Prayagraj%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1625782840309!5m2!1sen!2sin"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
    <section id="end">
        <h5>Copyright reserved </h5>
    </section>
</section>
