 <!-- NAV BAR SECTION  -->
    <header>
        <div class="navbar">
            <ul>
                <li class="navbar-logo"><a href="/">
                        <h1>Harsh's Restro</h1>
                    </a></li>
                <li class="navbar-navtoggle">
                    <i class="fas fa-bars nav-open"></i>
                </li>
                <li class="navbar-menu-item links"><a href="/index">Home</a></li>
                <li class="navbar-menu-item links"><a href="/menu">Menu</a></li>
                <li class="navbar-menu-item links"><a href="/about">About Us</a></li>
                <li class="navbar-menu-item links"><a href="/contact">Contact Us</a></li>
                <li class="navbar-menu-item"><a href="/menu">
                        <button class="menu-item menu-btn">
                            <p>Order Now!</p>
                        </button>
                    </a></li>
            </ul>
        </div>
    </header>