<!DOCTYPE html>
<html lang="en">

<head>
    <title>Harsh's Restro : About Us</title>
    <%- include('partials/HeaderLinks') %>

<body>
    <%- include('partials/Header') %>
    
    <section id="about-container">
        <h1>Know About Us</h1>
        <div id="about-box">
            <div id="about-img" >
                <img src="images/about1.jpg" alt="restro">
            </div>
            <div id="about-text">
                <p class="about-material">
                    Since our modest beginnings in 2019 with a little space in Allahabad’s Civil lines, ‘Sarder-Patel Marg’ , Harsh's Restro's development has been enlivened with the energy to cook and serve solid, Indian-roused takeout food. In contrast to other Indian eateries, ‘Harsh's Restro’ was made with the explicit expectation to appear as something else.
                    <br>
                    <br>
                    We realize numerous individuals love Indian sustenance, yet a large number of them loathe or are unconscious of the regularly unfortunate fixings that make run-of-the-mill Indian nourishment taste so great. Our menu highlights things that utilization the sound and fragrant flavors, however forgets the stuffing ghee, spread, oil, and overwhelming cream.
                    
                </p>
                <div class="about-btn-div">


                    <a href="/menu">
                        <button style="margin: 2rem 0em;" class="menu-btn-dark">ORDER NOW</button>
                    </a>
                </div>
                
            </div>
        </div>
    </section>

    <%- include('partials/Footer') %>
{{!-- JAVA SCRIPT  --}}
    <script>
        const toggleButton = document.getElementsByClassName('navbar-navtoggle')[0];
        const navbarLinks = document.getElementsByClassName('navbar-menu-item');

        toggleButton.addEventListener("click", () => {
            for (let i = 0; i < navbarLinks.length; i++) {
                navbarLinks[i].classList.toggle('active')
            }
        })
        
    </script>
</body>

</html>